/* Palette from https://colorhunt.co/palette/125c133e7c17f4a442e8e1d9 */


:root {
    --header-bg: rgb(6, 70, 53);
    --light-bg: rgb(81, 146, 89);
    --colourful-color: rgb(240, 187, 98);
    --lightest-bg: rgb(244, 238, 169);
}

body {
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.upper{
    display: flex;
    background-color: var(--header-bg);
    color:white;
}

.spacer{
    min-width: 10vw;
    flex: initial;
}

.header {
    display: flex;
    justify-content:space-between;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: var(--header-bg);
}

.upper-center {
    display:flex;
    flex-grow:1;
    flex-direction: column;
}

.logo {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border: 4px;
    border-style: solid;
    border-radius: 50%;
    gap: 10px;
}
/*div{
   border: 2px; 
    border-style: solid;
}*/
.header img{
    max-height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
.header a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}
.intro div{
    flex: 1 1 0;
}
.left-intro{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}
.left-intro div{
    flex: 0;
}
.subtitle{
    font-size: 48px;
    font-weight: bold;
}
.description{
    font-size: 18px;
}

button{
    flex: 0;
    font-size: 18px;
    font-weight:bolder;
    background-color: var(--colourful-color);
    border-radius : 10px;
    padding: 5 px;
    cursor: pointer;
}

.intro img{
    width:100%;
    height:100%;
}

.portfolio-stage{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    background-color: var(--lightest-bg);
}

.portfolio-header{
    font-size: 36px;
    padding: 30px;
    color: black;
    font-weight: bold;
}

.portfolio-container {
    display:flex;
    flex-flow: row-reverse wrap;
    gap: 10px;
    margin-bottom: 30px;
}
.portfolio{
    display:flex;
    flex-flow:column;
    text-align: center;
    gap: 10px;
}
.subimage{
    width:206px;
}

.portlogo{
    width:200px;
    height:200px;
}

.portfolio img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--colourful-color);
}

.pointer {
    cursor: pointer;
}

.quote-container{
    display:flex;
    background-color: var(--light-bg);
    color: black;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.quote{
    font-size: 36px;
    font-style: italic;
    max-width: 800px;
}

.quoter{
    font-size: 30px;
    font-weight: bolder;
    text-align:right;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    background-color: var(--lightest-bg);
}

.contact-container .portfolio-stage {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--colourful-color);
    margin-top: 40px;
    margin-bottom: 40px;
    flex: 1;
    padding: 60px;
    gap: 20px;
    border-radius: 10px;
}

.contact-header {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    background-color: var(--header-bg);
    color: white;
    text-align: center;
    padding: 20px;
}