/* Palette from https://colorhunt.co/palette/125c133e7c17f4a442e8e1d9 */


:root {
    --header-bg: rgb(6, 70, 53);
    --light-bg: rgb(81, 146, 89);
    --colourful-color: rgb(240, 187, 98);
    --lightest-bg: rgb(244, 238, 169);
}

body {
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.upper{
    display: flex;
    background-color: var(--header-bg);
    color:white;
}

.spacer{
    min-width: 3vw;
    flex: initial;
}

.header {
    display: flex;
    justify-content:space-between;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: var(--header-bg);
}

.upper-center {
    display:flex;
    flex-grow:1;
    flex-direction: column;
}

.logo {
    width: 10vw;
    height: 10vw;
    display: flex;
    align-items: center;
    font-size: normal;
    font-weight: bold;
    border: 4px;
    border-style: solid;
    border-radius: 50%;
    gap: 3vw;
}
/*div{
   border: 2px; 
    border-style: solid;
}*/
.header img{
    max-height: 10vw;
    object-fit: cover;
    border-radius: 50%;
}
ul {
    list-style: none;
    display: flex;
    gap: 2vw;
}
.header a{
    text-decoration: none;
    color: white;
    font-size: normal;
}
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 3vw;
}
.intro div{
    flex: 1 1 1;
}
.left-intro{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}
.left-intro div{
    flex: 0;
}
.subtitle{
    font-size: x-large;
    font-weight: bold;
}
.description{
    font-size: normal;
}

button{
    flex: 0;
    font-size: 18px;
    font-weight:bolder;
    background-color: var(--colourful-color);
    border-radius : 10px;
    padding: 5 px;
    cursor: pointer;
}

.intro img{
    border-radius:10px;
    border-style: solid;
    border-color: var(--colourful-color);
    display: none;
}

.portfolio-stage{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    background-color: var(--lightest-bg);
}

.portfolio-header{
    font-size: 36px;
    padding: 30px;
    color: black;
    font-weight: bold;
}

.portfolio-container {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}
.portfolio{
    display:flex;
    flex-flow:column;
    text-align: center;
    gap: 10px;
}
.subimage{
    width:40vw;
    font-size: small;
}

.portlogo{
    width:40vw;
    height:40vw;
}

.portfolio img{
    width: 40vw;
    height:40vw;
    object-fit: cover;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--colourful-color);
}

.pointer {
    cursor: pointer;
}

.quote-container{
    display:flex;
    background-color: var(--light-bg);
    color: black;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.quote{
    font-size: large;
    font-style: italic;
    max-width: 800px;
}

.quoter{
    font-size: x-large;
    font-weight: bolder;
    text-align:right;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    background-color: var(--lightest-bg);
}

.contact-container .portfolio-stage {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--colourful-color);
    margin-top: 10vw;
    margin-bottom: 10vw;
    flex: 1;
    padding: 10vw;
    gap: 5vw;
    border-radius: 10px;
}

.contact-header {
    font-size: large;
    font-weight: bold;
}

.footer {
    background-color: var(--header-bg);
    color: white;
    text-align: center;
    padding: 20px;
}

@media only screen and (orientation: landscape) {
    .logo {
        width: 5vh;
        height: 5vh;
        gap: 2vh;
        font-size: x-large;
    }
    .header img{
        max-height: 5vh;
    }
    ul {
        gap: 2vh;
        font-size: x-large;
    }
    .intro {
        gap: 3vh;
    }
    .intro img{
        display:flex;
        width: 40vw;
    }
    .subtitle{
        font-size: x-large;
        font-weight: bold;
    }
    .description{
        font-size: larger;
    }
    .subimage{
        width:15vw;
        font-size:medium;
    }
    .portfolio-container{
        gap: 2vw;
    }
    
    .portlogo{
        width:15vw;
        height:15vw;
    }
    
    .portfolio img{
        width: 15vw;
        height:15vw;
    }
    .quote{
        font-size: 36px;
    }
    
    .quoter{
        font-size: 40px;
    }
    
    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
        background-color: var(--lightest-bg);
    }
    
    .contact-container .portfolio-stage {
        margin-top: 2vw;
        margin-bottom: 2vw;
        flex: 1;
        padding: 2vw;
        gap: 1vw;
        border-radius: 10px;
    }
    
    .contact-header {
        font-size: x-large;
        font-weight: bold;
    }
    
    .footer {
        background-color: var(--header-bg);
        color: white;
        text-align: center;
        padding: 20px;
    }
}